* {
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    height: 250px;
    resize: none;
}

.keyBoard {
    display: block;
    border: 3px solid black;
    padding: 5px;
}

.buttonRow {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.button {
    padding: 5px;
    border: 2px solid black;
}